<footer class="footer-container">
  <button class="footer-container__button">
    <a href="./index.html#hero-section">
      <img src="./assets/images/ico-arrow.svg" alt="Go to start page" />
    </a>
  </button>
  <div class="menu-footer">
    <nav class="menu-footer__menu-articles">
      <ul class="menu-link">
        <li>
          <a class="link" href="https://adalab.es/" target="_blank">articles</a>
        </li>
        <li>
          <a class="link" href="https://adalab.es/" target="_blank">books</a>
        </li>
        <li>
          <a class="link" href="https://adalab.es/" target="_blank">events</a>
        </li>
        <li>
          <a class="link" href="https://adalab.es/" target="_blank">reasons</a>
        </li>
        <li>
          <a class="link" href="https://adalab.es/" target="_blank">tips</a>
        </li>
      </ul>
    </nav>
    <nav class="menu-rrss">
      <ul class="menu-link">
        <li>
          <a class="link" href="https://adalab.es/" target="_blank">Twitter</a>
        </li>
        <li>
          <a class="link" href="https://adalab.es/" target="_blank"
            >instagram</a
          >
        </li>
        <li>
          <a class="link" href="https://adalab.es/" target="_blank"
            >mastodon.social</a
          >
        </li>
      </ul>
    </nav>
    <small class="menu-rrss_small-text">
      <div class="small-text__copy">&copy;2021</div>
      <div class="small-text__copy">
        we <i class="fas fa-heart"></i> components
      </div>
    </small>
  </div>
</footer>
