<section class="container-reason">
  <h3 class="tittle-3 reason">3 reason to purchase</h3>
  <div class="wrapper">
    <div class="item1">
      <h4>Ut sed metus</h4>
      <p class="text reasontext">Lorem ipsum dolor sit amet, consectetur.</p>
    </div>
    <div class="item2">
      <h4>Curabitur ac erat</h4>
      <p class="text reasontext">Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="item3">
      <h4>Morbi dictums</h4>
      <p class="text reasontext">Aliquam in dolor et dolor tincidunt.</p>
    </div>
  </div>
  <button>More reasons</button>
</section>
