<section class="container-reason" id="reason">
  <h3 class="tittle-3 reason">3 reason to purchase</h3>
  <div class="wrapper">
    <div class="item 1">
      <h4 class="tittle4">Ut sed metus</h4>
      <p class="text reasontext">Lorem ipsum dolor sit amet, consectetur.</p>
    </div>
    <div class="item 2">
      <h4 class="tittle4">Curabitur ac erat</h4>
      <p class="text reasontext">Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="item 3">
      <h4 class="tittle4">Morbi dictums</h4>
      <p class="text reasontext">Aliquam in dolor et dolor tincidunt.</p>
    </div>
  </div>
  <button>More reasons</button>
</section>
