<section class="container-reason">
  <h3 class="tittle-3 reason">3 reason to purchase</h3>
  <div class="wrapper">
    <item1>
      <h4>Ut sed metus</h4>
      <p class="text reasontext">Lorem ipsum dolor sit amet, consectetur.</p>
    </item1>
    <item2>
      <h4>Curabitur ac erat Mauris</h4>
      <p class="text reasontext">mattis urna quis lorem molestie.</p>
    </item2>
    <item3>
      <h4>Morbi dictums</h4>
      <p class="text reasontext">Aliquam in dolor et dolor tincidunt.</p>
    </item3>
  </div>
  <button>More reasons</button>
</section>
