.page-layout {
  margin-right: 15px;
  margin-left: 15px;

  @media all and (min-width: 768px) {
    margin-right: 39px;
    margin-left: 39px;
  }
  @media all and (min-width: 1200px) {
    margin-right: 275px;
    margin-left: 275px;
  }
}
