// fonts
$font-main: "Roboto Slab", sans-serif;
$font-main-secundary: "Roboto";

$color: rgb(255, 255, 255);
$color-secondary: #999;
$coloricon: #f26002;
$color-iceblue: #eff9ff;
$colortextgrey: #4a4a4a;
$colortextblack: #000000;
$colortitle2: #8ccbea;
