.footer-container {
  background-color: #304268;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 0 45px 0;
  box-sizing: border-box;
  @media all and (min-width: 768px) {
    padding-left: 39px;
    padding-right: 39px;
  }
  @media all and (min-width: 1200px) {
    padding-left: 370px;
    padding-right: 370px;
  }
}
.button-footer {
  text-decoration: none;
  background-color: $color;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  transform: translate(0, -50%);
  border: none;
  animation: movedownup 1s 5;
  @keyframes movedownup {
    from {
      transform: translateY(-50%);
      background-color: $color;
    }
    to {
      transform: translateY(-100%);
      background-color: $color-secondary;
    }
  }
}
.menu-link {
  text-transform: uppercase;
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: white;
  font-family: $font-main-secunday;
  font-size: 16px;
  line-height: 30px;
  line-height: 1.88;
  @media all and (min-width: 768px) {
    width: 210px;
  }
  @media all and (min-width: 1200px) {
    width: 161px;
  }
}
.menu-articles {
  padding: 13px 0 30px 0;
  @media all and (min-width: 768px) {
    padding: 0;
    order: 1;
    width: 210px;
  }
  @media all and (min-width: 1200px) {
    width: 161px;
  }
}
.menu-rrss {
  padding-bottom: 30px;
  @media all and (min-width: 768px) {
    order: 2;
    width: 210px;
  }
}
.small-text {
  color: $color;
  font-size: 14px;
  font-family: $font-main-secunday;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fas {
  color: $coloricon;
}
.menu-footer {
  @media all and (min-width: 768px) {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    text-align: initial;
  }
}
.copy {
  @media all and (min-width: 768px) {
    width: 210px;
  }
}
