.footer-container {
  background-color: #304268;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 45px;
}
.menu-link {
  text-transform: uppercase;
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: white;
  font-family: $font-main-secunday;
  font-size: 16px;
  line-height: 1.88;
}
.menu-articles {
  padding: 60px 0 30px 0;
}
.menu-rrss {
  padding-bottom: 30px;
}
.small-text {
  color: $color;
  font-size: 14px;
  font-family: $font-main-secunday;
  line-height: 2.14;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fas {
  color: $coloricon;
}
