.hero {
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.tittle {
  font-family: $font-main;
  margin-top: 284px;
  color: $color;
  font-size: 42px;
  text-transform: uppercase;
  line-height: 1.31;
  font-style: bold;
}
.hero-text {
  font-size: 16px;
  color: $color;
  margin-top: 10px;
  font-weight: normal;
  font-family: $font-main-secunday;
}
.button-hero {
  text-decoration: none;
  margin-top: 45px;
  background-color: $color;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  transition: background-color ease 2s;
  &:hover {
    background-color: $coloricon;
  }
}
.down {
  width: 20px;
  height: 11.7px;
  vertical-align: middle;
}
