.hero {
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 0 15px 53px;
  @media all and (min-width: 768px) {
    margin-bottom: 45px;
  }
}
.hero-subtittle {
  font-size: 16px;
  color: $color;
  margin-top: 10px;
  font-weight: normal;
  font-family: $font-main-secunday;

  @media all and (min-width: 768px) {
    font-size: 24px;
  }
}
.button-hero {
  text-decoration: none;
  margin-top: 45px;
  background-color: $color;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  transition: background-color ease 2s;
  &:hover {
    background-color: $color-secondary;
  }
  @media all and (min-width: 768px) {
    margin-top: 30px;
  }
  @media all and (min-width: 768px) {
    margin-top: 13px;
  }
}
.down {
  width: 20px;
  height: 11.7px;
  vertical-align: middle;
}
