.container-reason {
  background-color: #eff9ff;
  padding: 30px 15px 60px 15px;
  text-align: center;
}
.reason {
  text-transform: capitalize;
  padding-bottom: 45px;
}
.wrapper {
  display: grid;
  grid-template-columns: 184px;
  grid-template-rows: 3fr;
  grid-gap: 45px;
  justify-content: center;
  @media all and (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(121px, 1fr));
    grid-template-rows: 1fr;
  }
}
.reasontext {
  color: #000000;
  padding: 2px;
}
.button-reason {
  text-decoration: none;
  font-family: $font-main-secunday;
  border-radius: 22.5px;
  width: 184px;
  height: 45px;
  background-color: $coloricon;
  color: $color;
  border: none;
  font-size: 20px;
  margin-top: 45px;
  @media all and (min-width: 768px) {
    width: 210px;
    height: 45px;
  }
  @media all and (min-width: 1200px) {
    width: 255px;
    height: 45px;
  }
}
