.container-reason {
  background-color: #eff9ff;
  padding: 30px 15px 60px 15px;
  text-align: center;
}
.reason {
  text-transform: capitalize;
  padding-bottom: 45px;
}
.wrapper {
  display: grid;
  grid-template-columns: 184px;
  grid-template-rows: 3fr;
  grid-gap: 45px;
  justify-content: center;
}
.reasontext {
  color: #000000;
  padding: 2px;
}
.button-reason {
  text-decoration: none;
  font-family: $font-main-secunday;
  border-radius: 22.5px;
  width: 184px;
  height: 45px;
  background-color: $coloricon;
  color: $color;
  border: none;
  font-size: 20px;
  margin: 45px 0 60px 0;
}
