.container-reason {
  background-color: $color-iceblue;
  padding: 30px 15px 60px 15px;
  text-align: center;
  @media all and (min-width: 768px) {
    padding-left: 40px;
    padding-right: 38px;
  }
  @media all and (min-width: 1200px) {
    padding-left: 85px;
    padding-right: 85px;
  }
  &__button {
    text-decoration: none;
    font-family: $font-main-secundary;
    text-transform: capitalize;
    border-radius: 22.5px;
    width: 184px;
    height: 45px;
    background-color: $coloricon;
    color: $color;
    border: none;
    font-size: 20px;
    margin-top: 45px;
    transition: background-color ease 1s;
    &:hover {
      background-color: $color-secondary;
    }
    @media all and (min-width: 768px) {
      width: 210px;
      height: 45px;
    }
    @media all and (min-width: 1200px) {
      width: 255px;
      height: 45px;
    }
  }
}
.tittlereason {
  text-transform: capitalize;
  padding-bottom: 45px;
}
.wrapper {
  display: grid;
  grid-template-columns: 184px;
  grid-template-rows: 3fr;
  grid-gap: 45px;
  justify-content: center;
  @media all and (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(121px, 1fr));
    grid-template-rows: 1fr;
  }
}
.textreason {
  color: $colortextblack;
  padding: 2px;
}

.button__reasonlink {
  text-decoration-style: none;
  text-decoration: none;
  font-size: 20px;
  font-family: $font-main-secundary;
  color: $color;
}
