.tittle-tips {
  font-family: $font-main-secunday;
  color: #8ccbea;
  font-size: 14px;
  line-height: 2.14;
  padding-top: 30px;
  text-transform: capitalize;
}
.tittle-3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-transform: capitalize;
}
.text {
  color: #4a4a4a;
  line-height: 1.67;
  font-family: $font-main-secunday;
}
.text-insomnia {
  padding: 15px 0 30px 0;
}
.buttontips {
  text-decoration: none;
  width: 76px;
  height: 45px;
  font-family: $font-main-secunday;
  font-weight: normal;
  font-size: 20px;
  color: $coloricon;
  background-color: $color;
  border-radius: 22.5px;
  border: solid 2px $coloricon;
  margin-bottom: 45px;
  text-align: center;

  @media all and (min-width: 768px) {
    width: 91px;
    height: 45px;
    margin-bottom: 60px;
  }
}
