.tittle-2 {
  font-family: $font-main-secunday;
  color: #8ccbea;
  font-size: 14px;
  line-height: 30px;
  text-transform: capitalize;
  @media all and (min-width: 1200px) {
    font-size: 16px;
  }
}
.text-insomnia {
  padding: 15px 0 30px 0;
}
.buttontips {
  text-decoration: none;
  text-transform: capitalize;
  width: 76px;
  height: 45px;
  font-family: $font-main-secunday;
  font-weight: normal;
  font-size: 20px;
  color: $coloricon;
  background-color: $color;
  border-radius: 22.5px;
  border: solid 2px $coloricon;
  margin-bottom: 45px;
  text-align: center;
  transition: color ease 1s;
  &:hover {
    background-color: $color-secondary;
  }

  @media all and (min-width: 768px) {
    width: 91px;
    height: 45px;
    margin-bottom: 60px;
  }
  @media all and (min-width: 1200px) {
    width: 160px;
    height: 45px;
  }
}
