.tittle-3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-transform: capitalize;
}
.tittle-tips {
  color: #8ccbea;
  font-size: 14px;
  line-height: 2.14;
  padding: 30px 0 0 15px;
  text-transform: capitalize;
}
.tips {
  padding-left: 15px;
}
.text {
  color: #4a4a4a;
  line-height: 1.67;
}
.text-insomnia {
  padding: 15px 15px 30px 15px;
}
.buttontips {
  padding-bottom: 45px;
}
